*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(230, 211, 184);
}
.container{
    width: 40%;
    min-width:450px;
    position: absolute;
    margin: auto;
    left: 0;
    right:0;
    top: 30px;
    padding: 30px 40px;
}
#newtask{
    position: relative;
    background-color: rgb(136, 103, 167);
    padding: 30px 20px;
    border-radius: 5px;
}
#newtask input{
    width: 70%;
    height: 45px;
    font-family:'Poppins', sans-serif;
    font-size: 15px;
    border: 2px  solid seagreen;
    padding: 12px;
    color: rgb(54, 50, 46);
    font-weight: 500;
    position: relative;
    border-radius: 5px;
}
#newtask input:focus{
    outline: none;
    border-color: pink;
}
#newtask button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: rgb(192, 93, 109);
    border: none;
    color: rgb(39, 27, 10);
    cursor: pointer;
    outline: none;
}
.tasks{
    background-color: aquamarine;
    padding: 30px 20px ;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 0 15px 30px black;
    width: 100%;
    position: relative;
}
.task{
    background-color: cornflowerblue;
    height: 50px;
    padding: 5px 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid darkgoldenrod ;
    cursor: pointer;
}
.task span{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: chartreuse;
    color: rgb(21, 22, 22);
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
}
.completed{
    text-decoration: line-through;
}